Task_1_Preprocessor_directives/x64/
Task_1_Preprocessor_directives/.vs/
Task_1_Preprocessor_directives/Task_1_Preprocessor_directives.vcxproj.user
Task_2_Macro_SUB/x64/
Task_2_Macro_SUB/.vs/
Task_2_Macro_SUB/Task_2_Macro_SUB.vcxproj.user